.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #000;
  margin-bottom: 10px;
  font-family: var(--tertiary-font);
}

.block-link {
  font-family: var(--tertiary-font);
  display: flex;
  gap: 5px;
}

.block-link > .link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.block-link > .link:hover {
  text-decoration: underline;
}
